@page "/"
@using info_app.Data
@inject QuestaoService service
<h1>Bem-vindo ao EnemQuest</h1>
<p>Este é um aplicativo de perguntas do enem.</p>
<a href="/questionario">Iniciar simulado</a>
<br>
<a href="/listadeusuarios">Usuarios Cadastrados</a>